body {
    background: #f6f6f6;
    font-family: sans;
    padding-top: 20px;
    padding-left: 80px;
}

.top {
    display: table;
    border-spacing: 30px 0px;
    margin-left: -30px;
    margin-right: -30px;
}

.tocbox {
    display: table-cell;
    width: 250px;
}

.mainbox {
    display: table-cell;
}

.classbox {
    border: 1px solid #cecac0;
    border-radius: 6px;
    overflow: hidden;
    background: #fefefe;
    width: 900px;
    margin-bottom: 20px;
}

.classheader {
    background: #cce5ed;
    padding: 5px;
}

.groupbox {
    border-top: 1px solid #cecac0;
    padding: 5px;
}

.groupheader {
    padding: 5px;
}

.methodbox {
    padding-top: 10px;
    padding-left: 30px;
}

.tocclassbox {
    border: 1px solid #cecac0;
    border-radius: 6px;
    overflow: hidden;
    background: #fefefe;
    padding: 10px;
    margin-bottom: 10px;
}

.tocclassheader {
    padding-left: 5px;
}

.tocgroup {
    padding: 1px;
    padding-left: 20px;
}

.classname, .groupname, .methodname {
    font-family: monospace;
}

.classname {
    padding: 7px;
    font-size: 150%;
}

.groupname {
    padding: 5px;
    font-weight: bolder;
    font-size: 120%;
}

.methodname {
    font-weight: bolder;
    font-size: 100%;
}

.comment {
    font-size: 90%;
}

.classref {
    font-size: 80%;
}

.groupref {
    font-size: 80%;
}

.code {
    display: block;
    background: #262626;
    color: white;
    overflow: auto;
    padding: 5px;
}

.ruby-constant {
    color: #7fffd4;
    background: transparent;
}

.ruby-keyword {
    color: #00ffff;
    background: transparent;
}

.ruby-ivar {
    color: #eedd82;
    background: transparent;
}

.ruby-operator {
    color: #00ffee;
    background: transparent;
}

.ruby-identifier {
    color: #ffdead;
    background: transparent;
}

.ruby-node {
    color: #ffa07a;
    background: transparent;
}

.ruby-comment {
    color: #dc0000;
    background: transparent;
}

.ruby-regexp {
    color: #ffa07a;
    background: transparent;
}

.ruby-value {
    color: #7fffd4;
    background: transparent;
}
