@charset "UTF-8";
body {
  margin: 0 20px;
  font-family: RobotoRegular;
  font-size: 15px; }
  body header {
    font-family: RalewaySemiBold; }
  body a {
    color: black;
    text-decoration: none; }
  body summary {
    outline: none; }
    body summary::-webkit-details-marker {
      display: none; }
  body > header {
    font-size: 32px;
    font-weight: 600;
    padding: 10px 0;
    margin: 10px 0 30px 350px; }
  body aside {
    float: left;
    width: 325px;
    overflow: hidden;
    position: fixed;
    overflow-y: scroll;
    bottom: 0;
    top: 0;
    margin-top: 17px; }
    body aside summary:after {
      content: "+";
      color: #000;
      font-size: 20px;
      text-align: center;
      padding: 10px 20px;
      width: 20px; }
    body aside details[open] summary:after {
      content: "−"; }
    body aside a {
      display: inline-block; }
    body aside .tocGroupBlock {
      background-color: white; }
      body aside .tocGroupBlock .tocGroup {
        display: block;
        padding: 5px 20px;
        border-bottom: 1px solid #f2f2f2;
        border-left: 3px solid transparent; }
        body aside .tocGroupBlock .tocGroup:hover {
          border-left: 3px solid #f25158; }
        body aside .tocGroupBlock .tocGroup:last-child {
          border-bottom: none; }
    body aside .tocClassBlock {
      border: 1px solid rgba(136, 136, 136, 0.12);
      background-color: #fafafa;
      border-radius: 3px;
      margin: 7px;
      width: 300px; }
      body aside .tocClassBlock:first-child {
        margin-top: 0; }
      body aside .tocClassBlock .tocClass {
        width: 234px;
        word-wrap: break-word;
        padding: 5px; }
  body main {
    margin-left: 340px; }
    body main article {
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      margin-top: 15px; }
      body main article header {
        background: #f3f3f3;
        color: black;
        padding: 5px;
        font-size: 22px; }
      body main article section:first-of-type {
        border-top: none; }
      body main article section {
        border-top: 1px solid #d9d9d9;
        padding: 5px 5px 0 5px;
        border-radius: 5px; }
        body main article section summary:before {
          content: "+";
          color: #000;
          font-size: 20px;
          text-align: center;
          padding: 10px 20px;
          width: 20px; }
        body main article section details {
          border: 1px solid #d9d9d9;
          border-radius: 6px;
          overflow: hidden;
          background: #fdf6e3;
          padding: 5px; }
          body main article section details[open] summary:before {
            content: "−"; }
        body main article section header {
          padding: 7px; }
        body main article section .memberBlock {
          padding-bottom: 15px;
          border-bottom: 1px solid #d9d9d9;
          margin: 10px 30px 0 30px; }
          body main article section .memberBlock:last-child {
            border-bottom: none; }
          body main article section .memberBlock .memberName {
            font-weight: bolder; }
          body main article section .memberBlock .memberComment {
            font-size: 14px; }
        body main article section header {
          background: none;
          color: black; }
        body main article section pre {
          font-size: 12px; }
          body main article section pre .ruby-constant {
            color: #839496; }
          body main article section pre .ruby-keyword {
            color: #1360a9;
            font-weight: bold; }
          body main article section pre .ruby-ivar {
            color: #2aa198; }
          body main article section pre .ruby-operator {
            color: #859900; }
          body main article section pre .ruby-identifier {
            color: #1d544c; }
          body main article section pre .ruby-node {
            color: #a73407; }
          body main article section pre .ruby-comment {
            color: #dc322f;
            font-style: italic; }
          body main article section pre .ruby-regexp {
            color: #ffa07a; }
          body main article section pre .ruby-value {
            color: #009705; }
          body main article section pre .ruby-string {
            color: #657b83; }
