/* http://ethanschoonover.com/solarized

body {
    background: #f6f6f6;
    font-family: sans;
}


.classbox {
    border: 1px solid #93a1a1;
    border-radius: 6px;
    overflow: hidden;
    background: #fefefe;
    width: 900px;
    margin-bottom: 20px;
}


.classname, .groupname, .methodname {
    font-family: monospace;
}

.classname {
    padding: 7px;
    font-size: 150%;
}

.groupname {
    padding: 5px;
    font-weight: bolder;
    font-size: 120%;
}

.methodname {
    font-weight: bolder;
    font-size: 100%;
}
