/* http://ethanschoonover.com/solarized */
aside {
  float: left;
  width: 300px;
  overflow: hidden;
}
aside a {
  padding: 3px;
}
aside .testGroup, aside .groupBlock {
  display: block;
  padding-left: 10px;
}

main {
    margin-left: 310px;
}

main article header {
  background: #657b83;
  color: white;
  padding: 5px;
}

article section {
  border-top: 1px solid #93a1a1;
  padding: 5px;
}

article section header {
  background: none;
  color: black;
}

body {
    background: #f6f6f6;
    font-family: sans;
}


.classbox {
    border: 1px solid #93a1a1;
    border-radius: 6px;
    overflow: hidden;
    background: #fefefe;
    width: 900px;
    margin-bottom: 20px;
}

.classheader {
    background: #657b83;
    color: white;
    padding: 5px;
}

.methodbox {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.classname, .groupname, .methodname {
    font-family: monospace;
}

.classname {
    padding: 7px;
    font-size: 150%;
}

.groupname {
    padding: 5px;
    font-weight: bolder;
    font-size: 120%;
}

.methodname {
    font-weight: bolder;
    font-size: 100%;
}

.comment {
    font-size: 90%;
}

.classref {
    font-size: 80%;
}

.groupref {
    font-size: 80%;
}

pre {
    border: 1px solid #93a1a1;
    border-radius: 6px;
    overflow: hidden;
    background: #fdf6e3;
    padding: 5px;
}

.ruby-constant {
    color: #839496;
}

.ruby-keyword {
    color: #1360a9;
    font-weight: bold;
}

.ruby-ivar {
    color: #2aa198;
}

.ruby-operator {
    color: #859900;
}

.ruby-identifier {
    color: #1d544c;
}

.ruby-node {
    color: #a73407;
}

.ruby-comment {
    color: #dc322f;
    font-style: italic;
}

.ruby-regexp {
    color: #ffa07a;
}

.ruby-value {
    color: #009705;
}

.ruby-string {
    color: #657b83;
}
