@charset "UTF-8";
body {
  margin: 0 10px 10px 2px;
  font-family: RobotoRegular;
  font-size: 16px; }
body header {
  font-family: RalewaySemiBold; }
body a {
  color: black;
  text-decoration: none; }
body summary {
  outline: none;
  display: inline-block; }
body summary::-webkit-details-marker {
  display: none; }
body .label {
  display: inline-block;
  margin: 0 2px 0 2px; }
body .labelModule {
  background-color: #dff0d8;
  color: #3c763d;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 8px; }
body .labelClass {
  background-color: #dff0d8;
  color: #3c763d;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 8px; }
body .labelIncluded {
  background-color: #dff0d8;
  color: #3c763d;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 8px; }
body .labelExtended {
  background-color: #dff0d8;
  color: #3c763d;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 8px; }
body .labelConstant {
  background-color: #dff0d8;
  color: #3c763d;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 8px; }
body .labelClassMethod {
  background-color: #dff0d8;
  color: #3c763d;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 8px; }
body .labelInstanceMethod {
  background-color: #d9edf7;
  color: #31708f;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 8px; }
body .labelClassAttribute {
  background-color: #d9edf7;
  color: #31708f;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 8px; }
body .labelInstanceAttribute {
  background-color: #dff0d8;
  color: #3c763d;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 8px; }
body .labelPublic {
  background-color: #fcf8e3;
  color: #8a6d3b;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 8px; }
body .labelPrivate {
  background-color: #fcf8e3;
  color: #8a6d3b;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 8px; }
body .labelProtected {
  background-color: #fcf8e3;
  color: #8a6d3b;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 8px; }
body .mainHeader {
  font-size: 32px;
  font-weight: 600;
  padding: 10px 0;
  margin: 10px 0 10px 350px; }
body aside {
  float: left;
  width: 325px;
  overflow: hidden;
  position: fixed;
  overflow-y: scroll;
  bottom: 0;
  top: 0;
  padding-top: 10px;
  padding-right: 8px; }
body aside a {
  display: inline-block; }
body aside .tocClassBlock {
  border: 1px solid rgba(136, 136, 136, 0.12);
  background-color: #fafafa;
  border-radius: 3px;
  margin: 7px;
  width: 300px;
  position: relative;
  padding: 0px 2px 0px 2px; }
body aside .tocClassBlock:first-child {
  margin-top: 0; }
body aside .tocClassBlock summary {
  display: flex;
  align-items: center;
  justify-content: center; }
body aside .tocClassBlock summary:after {
  content: "+";
  color: #000;
  font-size: 20px;
  text-align: center;
  width: 20px;
  position: absolute;
  width: 40px;
  top: 9%;
  right: 0px; }
body aside .tocClassBlock[open] summary:after {
  content: "−"; }
body aside .tocClassBlock .tocClass {
  flex-grow: 1;
  width: 190px;
  word-wrap: break-word;
  padding: 5px 3px 5px 3px; }
body aside .tocClassBlock .tocGroupBlock {
  background-color: white; }
body aside .tocClassBlock .tocGroupBlock .tocGroup {
  display: block;
  padding: 5px 20px;
  border-bottom: 1px solid #f2f2f2;
  border-left: 3px solid transparent; }
body aside .tocClassBlock .tocGroupBlock .tocGroup:hover {
  border-left: 3px solid #d0e7f2; }
body aside .tocClassBlock .tocGroupBlock .tocGroup:last-child {
  border-bottom: none; }
body main {
  margin-left: 340px; }
body main .classBlock {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-top: 15px; }
body main .classBlock .classHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f3f3;
  color: black;
  padding: 5px;
  font-size: 22px; }
body main .classBlock .classHeader .className {
  flex-grow: 1;
  padding-left: 4px; }
body main .classBlock .classComment {
  padding: 5px 5px 0 13px; }
body main .classBlock .groupBlock {
  border-top: 1px solid #d9d9d9;
  padding: 5px 5px 0 5px;
  border-radius: 5px; }
body main .classBlock .groupBlock .groupHeader {
  background: none;
  color: black;
  padding: 7px;
  font-size: 18px; }
body main .classBlock .groupBlock .memberBlock {
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
  margin: 10px 30px 0 30px; }
body main .classBlock .groupBlock .memberBlock:last-child {
  border-bottom: none; }
body main .classBlock .groupBlock .memberBlock .memberHeader {
  display: flex;
  align-items: center;
  justify-content: center; }
body main .classBlock .groupBlock .memberBlock .memberHeader .memberName {
  flex-grow: 1;
  font-weight: bolder;
  padding-left: 4px; }
body main .classBlock .groupBlock .memberBlock .memberSignature {
  font-size: 15px; }
body main .classBlock .groupBlock .memberBlock .memberComment {
  font-size: 16px; }
body main .classBlock .groupBlock .memberBlock .memberCode {
  border: 1px solid #d9d9d9;
  border-radius: 6px; }
body main .classBlock .groupBlock .memberBlock .memberCode summary:before {
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px 0 8px;
  content: "+";
  font-size: 20px;
  color: #000; }
body main .classBlock .groupBlock .memberBlock .memberCode[open] summary:before {
  content: "−"; }
body main .classBlock .groupBlock .memberBlock .memberCode pre {
  padding: 0 8px 0 8px;
  font-size: 14px; }
